{% extends 'app1/base.html' %}


{% block content %}

<div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-sign-intersection-fill" viewBox="0 0 16 16">
            <path
                d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435ZM7.25 4h1.5v3.25H12v1.5H8.75V12h-1.5V8.75H4v-1.5h3.25V4Z" />
        </svg>
        添加
    </button>


    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">

                    <h4 class="modal-title ">新建部门</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- 模态框内容 -->
                <div class="modal-body">

                    <form action="" method="POST">
                        {% csrf_token %}

                        <div class="form-floating mt-3 mb-3">
                            <input type="text" class="form-control" placeholder="部门名称" name="title">
                            <label for="depart" class="form-label">部门名称</label>
                        </div>
                        <button type="submit" class="btn btn-danger">确认添加</button>
                    </form>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">


                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        部门管理
    </div>
    <!-- 表格 -->
    <div class="container">
        <div class="table_list">

            <table class="table table-striped table-hover table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">部门名称</th>

                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 直接调用键 -->
                    {% for t in titles %}
                    <tr>

                        <td>{{t.id}}</td>
                        <td>{{t.title}}</td>

                        <td>
                            <a href="" class="btn btn-primary btn-xs">编辑</a>
                            <a href="/depart/delete/?id={{t.id}}" class="btn btn-danger btn-xs">删除</a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- 分页 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{% endblock %}