<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/pluguns/bootstrap-5.3.0/css/bootstrap.css">
    <style>
        .account{
            width: 400px;
            /* height: 350px; */
            border: 1px solid #ddd;
            border-radius: 10px; /*圆角*/
            box-shadow: 5px 5px 20px #ddd; /*阴影*/
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
            padding: 20px 40px; /*左右边距20 上下40*/
        }
    </style>
</head>
<body>
    <div class="account">
        <h2 style="text-align: center;">用户登录</h2>
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">User</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="用户名" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
    </div>



    <script src="/static/pluguns/bootstrap-5.3.0/js/bootstrap.js"></script>

</body>
</html>